body {
    font-family: Arial, sans-serif;
    background-color: #F5E8C7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #818FB4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: #818FB4;
    padding: 0;
    background-color: ;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #363062;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: 818FB4;
    border: 1px solid #ccc;
}
.input-field {
    width: 100px;
    margin: 5px;
}

button {
    background-color: #007BFF;
    color: #f06868;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #E0F4FF;
}


button:hover {
    background-color: #0056b3;
}
